body {
  user-select: none;
  margin: 0;
  padding: 40px;
}
#app {
  font-size: 2vw;
  padding: 16px;
}
#app div {
  margin-top: 20px;
  padding: 8px;
  transition: all 0.3s;
  border-radius: 8px;
  border: 1px solid #ddd;
}
#app div:hover {
  box-shadow: 4px 3px 2px 1px #aaa;
}
#app input {
  width: 100%;
  font-size: inherit;
  padding: inherit;
  margin: inherit;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px #aaa;
}
#app p {
  display: inline;
}
#app button {
  font-size: inherit;
  float: right;
  right: 0;
  background: none;
  border-radius: 8px;
  color: #b81f01;
  cursor: pointer;
}
#app button:hover {
  background: #b81f01;
  color: white;
}
#app button:focus {
  outline: 0;
}
.done {
  text-decoration: line-through;
  background: #ddd;
}

.header {
  position: fixed;
  height: 60px;
  box-shadow: 4px 4px 4px 4px;
}

.list-item {
  transform: translateY(0);
}

.list-enter {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-to /* .list-leave-active below version 2.1.8 */ {
  transform: translateY(-30px);
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
  position: absolute;
  width: calc(100% - 130px);
}
